<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电费缴纳</title>
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../build/css/doc.css" media="all">
</head>

<body>
<blockquote class="layui-elem-quote">
    电费缴纳
</blockquote>

<div class="kit-doc-title">
    <fieldset>
        <legend><a name="blockquote">电费缴纳</a></legend>
    </fieldset>
</div>
<p> 下面是您本月的电费缴纳计划 </p>
<table class="layui-table">
    <colgroup>
        <col width="180">
        <col width="230">
        <col width="100">
        <col>
    </colgroup>
    <thead>
    <tr>
        <th>账单编号</th>
        <th>2301213</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>应还款日期</td>
        <td>2018-04-21</td>
        <td>账单状态</td>
        <td>逾期</td>
    </tr>
    <tr>
        <td>应缴纳本金</td>
        <td>￥24</td>
        <td>应缴纳滞纳金</td>
        <td>￥0</td>
    </tr>
    <tr>
        <td>优惠减免本金</td>
        <td>￥0</td>
        <td>优惠减免滞纳金</td>
        <td>￥0</td>
    </tr>
    </tbody>
</table>
<div class="layui-btn-group demoTable">
    <button class="layui-btn" data-type="check" id="test">缴费</button>
</div>


<script src="../pugins/layui/layui.js"></script>
</body>

<script>
    $("#test").click(function () {
        layer.alert("缴费成功！")
    });
</script>
</html>