<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head xmlns:th="http://www.thymeleaf.org">
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>中工大学科技园物业管理系统</title>
    <link rel="stylesheet" href="../plugins/layui/css/layui.css" media="all">
    <link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">
    <link rel="stylesheet" href="../build/css/app.css" media="all">
    <link rel="stylesheet" href="../build/css/themes/light.css" media="all">
</head>

<body class="kit-theme">
<div class="layui-layout layui-layout-admin kit-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">物业管理系统</div>
        <div class="layui-logo kit-logo-mobile">K</div>
        <ul class="layui-nav layui-layout-left kit-nav" kit-one-level>
            <li class="layui-nav-item"><a href="javascript:;">控制台</a></li>
            <li class="layui-nav-item"><a href="javascript:;">商品管理</a></li>
        </ul>
        <ul class="layui-nav layui-layout-right kit-nav">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://m.zhengjinfan.cn/images/0.jpg" class="layui-nav-img"> ${user}
                </a>

            </li>
            <li class="layui-nav-item"><a href="/passport/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> 注销</a></li>
        </ul>
    </div>

    <div class="layui-side layui-bg-black kit-side">
        <div class="layui-side-scroll">
            <div class="kit-side-fold"><i class="fa fa-navicon" aria-hidden="true"></i></div>
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="kitNavbar" kit-navbar>
                <li class="layui-nav-item" >
                    <a class="" href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 生活缴费</span></a>
                    <dl class="layui-nav-child" >
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='水费'">
                                <a href="javascript:;" kit-target data-options="{url:'deal/water',icon:'&#xe6c6;',title:'水费',id:'1'}">
                                    <i class="layui-icon">&#xe6c6;</i><span> 水费</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='电费'">
                                <a href="javascript:;" data-url="deal/electric" data-icon="fa-user" data-title="电费" kit-target data-id='2'><i class="fa fa-user" aria-hidden="true"></i><span> 电费</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='网费'">
                                <a href="javascript:;" data-url="deal/internet" data-icon="&#xe628;" data-title="网费" kit-target data-id='3'><i class="layui-icon">&#xe628;</i><span> 网费</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='物业费'">
                                <a href="javascript:;" data-url="deal/property" data-icon="&#xe614;" data-title="物业费" kit-target data-id='4'><i class="layui-icon">&#xe614;</i><span> 物业费</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='水费设置'">
                                <a href="javascript:;" kit-target data-options="{url:'../../static/waterSet.html',icon:'&#xe6c6;',title:'水费设置',id:'5'}">
                                    <i class="layui-icon">&#xe6c6;</i><span> 水费设置</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='电费设置'">
                                <a href="javascript:;" data-url="../../static/electricSet.html" data-icon="fa-user" data-title="电费设置" kit-target data-id='6'><i class="fa fa-user" aria-hidden="true"></i><span> 电费设置</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='网费设置'">
                                <a href="javascript:;" data-url="../../static/internetSet.html" data-icon="&#xe628;" data-title="网费设置" kit-target data-id='7'><i class="layui-icon">&#xe628;</i><span> 网费设置</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='物业费设置'">
                                <a href="javascript:;" data-url="../../static/propertySet.html" data-icon="&#xe614;" data-title="物业费设置" kit-target data-id='8'><i class="layui-icon">&#xe614;</i><span> 物业费设置</span></a>
                            </div>
                        </dd>
                        <dd th:each="menu:${menus}">
                            <div th:if="${menu.menuName}=='信息录入'">
                                <a href="javascript:;" data-url="../../static/informationInput.html" data-icon="&#xe614;" data-title="信息录入" kit-target data-id='9'><i class="layui-icon">&#xe614;</i><span> 信息录入</span></a>
                            </div>
                        </dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 物业管理</span></a>
                    <dl class="layui-nav-child">
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='服务在线申请'" href="javascript:;" kit-target data-options="{url:'../../static/businessServiceEntity.html',icon:'&#xe658;',title:'服务在线申请',id:'10'}"><i class="layui-icon">&#xe658;</i><span> 服务在线申请</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='租售房源'" href="javascript:;" kit-target data-options="{url:'../../static/houseList.html',icon:'&#xe658;',title:'租售房源',id:'11'}"><i class="layui-icon">&#xe658;</i><span> 租售房源</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='车辆进出管理'" href="javascript:;" kit-target data-options="{url:'../../static/businessCarSetEntity.html',icon:'&#xe658;',title:'车辆进出管理',id:'12'}"><i class="layui-icon">&#xe658;</i><span> 车辆进出管理</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='服务在线审批'" href="javascript:;" kit-target data-options="{url:'../../static/serviceList.html',icon:'&#xe658;',title:'服务在线审批',id:'13'}"><i class="layui-icon">&#xe658;</i><span> 服务在线审批</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='租售房源信息管理'" href="javascript:;" kit-target data-options="{url:'../../static/houseSet.html',icon:'&#xe658;',title:'租售房源信息管理',id:'14'}"><i class="layui-icon">&#xe658;</i><span> 租售房源信息管理</span></a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;"><i class="fa fa-plug" aria-hidden="true"></i><span> 投诉建议</span></a>
                    <dl class="layui-nav-child">
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='在线调查'" href="javascript:;" kit-target data-options="{url:'/search/dosearch',icon:'&#xe658;',title:'在线调查',id:'15'}"><i class="layui-icon">&#xe658;</i><span> 在线调查</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='意见建议'" href="javascript:;" kit-target data-options="{url:'../../static/businessProposalEntity.html',icon:'&#xe658;',title:'意见建议',id:'16'}"><i class="layui-icon">&#xe658;</i><span> 意见建议</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='短信息管理'" href="javascript:;" kit-target data-options="{url:'../../static/messageset.html',icon:'&#xe658;',title:'短信息管理',id:'17'}"><i class="layui-icon">&#xe658;</i><span> 短信息管理</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='意见查看'" href="javascript:;" kit-target data-options="{url:'../../static/proposalread.html',icon:'&#xe658;',title:'意见查看',id:'19'}"><i class="layui-icon">&#xe658;</i><span> 意见查看</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='在线调查设置'" href="javascript:;" kit-target data-options="{url:'../../static/searchSet.html',icon:'&#xe658;',title:'在线调查设置',id:'20'}"><i class="layui-icon">&#xe658;</i><span> 在线调查设置</span></a></dd>
                        <dd th:each="menu:${menus}"><a th:if="${menu.menuName}=='权限控制'" href="javascript:;" kit-target data-options="{url:'../../static/rolesControl.html',icon:'&#xe658;',title:'权限控制',id:'20'}"><i class="layui-icon">&#xe658;</i><span> 权限控制</span></a></dd>
                    </dl>
                </li>

            </ul>
        </div>
    </div>
    <div class="layui-body main" id="container">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;">主体内容加载中,请稍等...</div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        2018 &copy;
        <a href="http://kit.zhengjinfan.cn/">中工大学科技园/</a> 物业管理系统

    </div>
</div>

<script src="../../plugins/layui/layui.js"></script>
<script>
    var message;
    layui.config({
        base: '../../build/js/'
    }).use(['app', 'message'], function() {
        var app = layui.app,
            $ = layui.jquery,
            layer = layui.layer;
        //将message设置为全局以便子页面调用
        message = layui.message;
        //主入口
        app.set({
            type: 'iframe'
        }).init();
        $('#pay').on('click', function() {
            layer.open({
                title: false,
                type: 1,
                content: '<img src="../..//build/images/pay.png" />',
                area: ['500px', '250px'],
                shadeClose: true
            });
        });
    });

    $("#container").html(" <div style=\"padding: 15px;\">主体内容加载中,请稍等...</div>")
</script>
</body>

</html>