<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>水费设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="../../plugins/layui/css/layui.css" media="all">
</head>

<body>

<blockquote class="layui-elem-quote layui-text">
    仅限管理员操作!
</blockquote>

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>
        <!--<span th:text="${searchMsg}"></span>-->
        关于学生住宿问题的调查报告
    </legend>
</fieldset>

<form class="layui-form" action="">

    <!--<div class="layui-form-item" pane="" th:each="question:${questions}">
        <label class="layui-form-label">${question.name}</label>
        <div class="layui-input-block" th:each="answer:${answers}" th:if="${answer.questionid}==${question.questionid}">
            <input type="radio" th:name="${question.questionid}" th:value="${answer.answerid}"
                   th:title="${answer.choicetext}" checked="">
        </div>
    </div>-->
    <fieldset class="fieldset" id="fieldset1">
        <div class="div_title_page_question"><b><span
                style="font-size:18px;">本问卷以了解学生宿舍管理的实际情况，只为研究之用,请如实镇写，感谢您的合作，谢谢！</span></b></div>
        <div class="div_question" id="div1">
            <div class="div_title_question_all">
                <div id="divTitle1" class="div_title_question">年级：<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion1">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q1"
                          name="q1"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div2">
            <div class="div_title_question_all">
                <div id="divTitle2" class="div_title_question">学院：<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion2">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q2"
                          name="q2"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div3">
            <div class="div_title_question_all">
                <div id="divTitle3" class="div_title_question">宿舍号：<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion3">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q3"
                          name="q3"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div4">
            <div class="div_title_question_all">
                <div id="divTitle4" class="div_title_question">性别<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion4">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q4"
                          name="q4"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div5">
            <div class="div_title_question_all">
                <div id="divTitle5" class="div_title_question">1、您对您所住宿舍的整体评价如何：<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion5">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q5_1"></a><input
                            style="display:none;" type="radio" name="q5" id="q5_1" value="1"><label
                            for="q5_1">非常满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q5_2"></a><input
                            style="display:none;" type="radio" name="q5" id="q5_2" value="2"><label
                            for="q5_2">满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q5_3"></a><input
                            style="display:none;" type="radio" name="q5" id="q5_3" value="3"><label
                            for="q5_3">比较满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q5_4"></a><input
                            style="display:none;" type="radio" name="q5" id="q5_4" value="4"><label
                            for="q5_4">不满意</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div6">
            <div class="div_title_question_all">
                <div id="divTitle6" class="div_title_question">
                    2、大学生活中有一半以上的时间是在宿舍中度过的。您认为现代社会中大学生宿舍最主要的功能是什么请按重要程度排序：<span class="req">&nbsp;*</span><span
                        class="qtypetip">&nbsp;[排序题]</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion6">
                <div class="div_table_clear_top"></div>
                <div>
                    <ul>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q6_1" type="checkbox" style="display:none;"
                                                            value="1"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>A、休息</label></div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q6_2" type="checkbox" style="display:none;"
                                                            value="2"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>B、休闲娱乐</label></div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q6_3" type="checkbox" style="display:none;"
                                                            value="3"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>C、学习</label></div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q6_4" type="checkbox" style="display:none;"
                                                            value="4"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>D、交际</label></div>
                            <div style="clear:both;"></div>
                        </li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div7">
            <div class="div_title_question_all">
                <div id="divTitle7" class="div_title_question">3、您对《学生宿舍管理办法》了解吗<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion7">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q7_1"></a><input
                            style="display:none;" type="radio" name="q7" id="q7_1" value="1"><label
                            for="q7_1">A、学习过,很了解</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q7_2"></a><input
                            style="display:none;" type="radio" name="q7" id="q7_2" value="2"><label for="q7_2">B、浏览过,了解一些</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q7_3"></a><input
                            style="display:none;" type="radio" name="q7" id="q7_3" value="3"><label for="q7_3">C、听说过,不很了解</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q7_4"></a><input
                            style="display:none;" type="radio" name="q7" id="q7_4" value="4"><label
                            for="q7_4">D、从未接触过</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div8">
            <div class="div_title_question_all">
                <div id="divTitle8" class="div_title_question">4、您自入学以来,宿舍内的成员是否都是同一个班级的同学<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion8">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q8_1"></a><input
                            style="display:none;" type="radio" name="q8" id="q8_1" value="1"><label
                            for="q8_1">A、是</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q8_2"></a><input
                            style="display:none;" type="radio" name="q8" id="q8_2" value="2"><label for="q8_2">B、不是,是同一个学院的混合宿舍</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q8_3"></a><input
                            style="display:none;" type="radio" name="q8" id="q8_3" value="3"><label for="q8_3">C、不是,所住宿舍是不同学院的混合宿舍</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div9">
            <div class="div_title_question_all">
                <div id="divTitle9" class="div_title_question">5、您可以接受宿舍成员一半不是同系的吗()<span class="req">&nbsp;*</span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion9">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q9_1"></a><input
                            style="display:none;" type="radio" name="q9" id="q9_1" value="1"><label
                            for="q9_1">A.可以</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q9_2"></a><input
                            style="display:none;" type="radio" name="q9" id="q9_2" value="2"><label
                            for="q9_2">B.不可以</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div10">
            <div class="div_title_question_all">
                <div id="divTitle10" class="div_title_question">6、您认为学校宿舍的硬件设施在下列哪方面还需改进()<span
                        class="req">&nbsp;*</span><span class="qtypetip">&nbsp;[<b>最少</b>选择<b>2</b>项]</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion10">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_1"></a><input
                            style="display:none;" id="q10_1" type="checkbox" name="q10"
                            value="1"><label>A、宿舍空间不够大</label></li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_2"></a><input
                            style="display:none;" id="q10_2" type="checkbox" name="q10"
                            value="2"><label>B、储物空间不够</label></li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_3"></a><input
                            style="display:none;" id="q10_3" type="checkbox" name="q10"
                            value="3"><label>C、晒衣空间不够</label></li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_4"></a><input
                            style="display:none;" id="q10_4" type="checkbox" name="q10"
                            value="4"><label>D、无法承受大功率电器</label></li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_5"></a><input
                            style="display:none;" id="q10_5" type="checkbox" name="q10"
                            value="5"><label>E、网络信号没有或不强</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q10_6"></a><input
                            style="display:none;" id="q10_6" type="checkbox" name="q10" value="6"><label
                            style="display: inline-block;">F、其他：</label> <input class="underline" type="text"
                                                                                style="max-width: 500px; color: rgb(153, 153, 153); position: static;"
                                                                                req="true" value="" rel="q10_6"
                                                                                onpropertychange="lengthChange(this);"
                                                                                oninput="lengthChange(this);"> <span
                            style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div11">
            <div class="div_title_question_all">
                <div id="divTitle11" class="div_title_question">7、您主要通过以下何种途径对宿舍管理的相关规定进行了解的<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion11">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q11_1"></a><input
                            style="display:none;" type="radio" name="q11" id="q11_1" value="1"><label for="q11_1">A、开学初辅导员进行的始业教育</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q11_2"></a><input
                            style="display:none;" type="radio" name="q11" id="q11_2" value="2"><label for="q11_2">B、班主任召开的班会</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q11_3"></a><input
                            style="display:none;" type="radio" name="q11" id="q11_3" value="3"><label for="q11_3">C、宿管阿姨的叮嘱</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q11_4"></a><input
                            style="display:none;" type="radio" name="q11" id="q11_4" value="4"><label for="q11_4">D、自己阅读相关规定</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div12">
            <div class="div_title_question_all">
                <div id="divTitle12" class="div_title_question">8、对于申请外住,您认为<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion12">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q12_1"></a><input
                            style="display:none;" type="radio" name="q12" id="q12_1" value="1"><label for="q12_1">A、个人自由,不置可否</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q12_2"></a><input
                            style="display:none;" type="radio" name="q12" id="q12_2" value="2"><label for="q12_2">B、较自由,可合理安排个人生活和学习</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q12_3"></a><input
                            style="display:none;" type="radio" name="q12" id="q12_3" value="3"><label for="q12_3">C、不安全,存在安全隐患</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q12_4"></a><input
                            style="display:none;" type="radio" name="q12" id="q12_4" value="4"><label for="q12_4">D、脱离班集体,信息闭塞,不利于个人发展</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q12_5"></a><input
                            style="display:none;" type="radio" name="q12" id="q12_5" value="5"><label for="q12_5"
                                                                                                      style="display: inline-block;">E、其他:</label>
                        <input class="underline" type="text"
                               style="max-width: 500px; color: rgb(153, 153, 153); position: static;" req="true"
                               value="" rel="q12_5" onpropertychange="lengthChange(this);"
                               oninput="lengthChange(this);"> <span style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div13">
            <div class="div_title_question_all">
                <div id="divTitle13" class="div_title_question">9、如果您申请外住,您主要的申请原因是什么<span class="req">&nbsp;*</span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion13">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q13_1"></a><input
                            style="display:none;" type="radio" name="q13" id="q13_1" value="1"><label for="q13_1">A、宿舍环境太差,影响学习和休息</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q13_2"></a><input
                            style="display:none;" type="radio" name="q13" id="q13_2" value="2"><label for="q13_2">B、个人生活习惯,不习惯集体生活</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q13_3"></a><input
                            style="display:none;" type="radio" name="q13" id="q13_3" value="3"><label for="q13_3">C、住宿舍约束太多,不自由</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q13_4"></a><input
                            style="display:none;" type="radio" name="q13" id="q13_4" value="4"><label for="q13_4">D、方便谈朋友</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div14">
            <div class="div_title_question_all">
                <div id="divTitle14" class="div_title_question">10、您所住宿舍内的设施是否方便和满足您生活的需要<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion14">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q14_1"></a><input
                            style="display:none;" type="radio" name="q14" id="q14_1" value="1"><label
                            for="q14_1">A、非常满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q14_2"></a><input
                            style="display:none;" type="radio" name="q14" id="q14_2" value="2"><label
                            for="q14_2">B、满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q14_3"></a><input
                            style="display:none;" type="radio" name="q14" id="q14_3" value="3"><label
                            for="q14_3">C、不满意</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q14_4"></a><input
                            style="display:none;" type="radio" name="q14" id="q14_4" value="4"><label for="q14_4">D、非常不满意</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div15">
            <div class="div_title_question_all">
                <div id="divTitle15" class="div_title_question">11、宿舍每晚定时熄灯,您对此如何看待<span class="req">&nbsp;*</span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion15">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q15_1"></a><input
                            style="display:none;" type="radio" name="q15" id="q15_1" value="1"><label for="q15_1">A、不支持,干涉个人的自由权利</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q15_2"></a><input
                            style="display:none;" type="radio" name="q15" id="q15_2" value="2"><label for="q15_2">B、支持,保障生活较有规律</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q15_3"></a><input
                            style="display:none;" type="radio" name="q15" id="q15_3" value="3"><label for="q15_3"
                                                                                                      style="display: inline-block;">C、其他：</label>
                        <input class="underline" type="text"
                               style="max-width: 500px; color: rgb(153, 153, 153); position: static;" req="true"
                               value="" rel="q15_3" onpropertychange="lengthChange(this);"
                               oninput="lengthChange(this);"> <span style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div16">
            <div class="div_title_question_all">
                <div id="divTitle16" class="div_title_question">12、您是否了解“自管会”组织<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion16">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q16_1"></a><input
                            style="display:none;" type="radio" name="q16" id="q16_1" value="1"><label for="q16_1">A、是自管会的成员</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q16_2"></a><input
                            style="display:none;" type="radio" name="q16" id="q16_2" value="2"><label
                            for="q16_2">B、比较熟悉</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q16_3"></a><input
                            style="display:none;" type="radio" name="q16" id="q16_3" value="3"><label
                            for="q16_3">C、听说过</label></li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q16_4"></a><input
                            style="display:none;" type="radio" name="q16" id="q16_4" value="4"><label
                            for="q16_4">D、没听说过</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div17">
            <div class="div_title_question_all">
                <div id="divTitle17" class="div_title_question">13、您认为使用如热得快等大功率电器屡禁不止最主要的原因是什么(请多选,并排序)<span
                        class="req">&nbsp;*</span><span class="qtypetip">&nbsp;[<b>最少</b>选择<b>2</b>项并排序]</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion17">
                <div class="div_table_clear_top"></div>
                <div>
                    <ul>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q17_1" type="checkbox" style="display:none;"
                                                            value="1"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>A、同学们的安全意识薄弱</label></div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q17_2" type="checkbox" style="display:none;"
                                                            value="2"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>B、学校的基础建设不能满足同学们的生活需要</label>
                            </div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q17_3" type="checkbox" style="display:none;"
                                                            value="3"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>C、去水房提热水太麻烦</label></div>
                            <div style="clear:both;"></div>
                        </li>
                        <li style="float: none; margin-bottom: 6px; padding: 3px 0px; cursor: pointer;" class="lisort">
                            <div style="float:left;"><input id="q17_4" type="checkbox" style="display:none;"
                                                            value="4"><span class="sortnum"></span></div>
                            <div style="float:left;text-align:left;width:660px;"><label>D、比较方便</label></div>
                            <div style="clear:both;"></div>
                        </li>
                    </ul>
                    <div style="clear:both;"></div>
                </div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div18">
            <div class="div_title_question_all">
                <div id="divTitle18" class="div_title_question">13、我校曾发生过的偷窃案,部分同学遭受了一定的经济损失。您认为存在此类安全隐患的主要原因是<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion18">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q18_1"></a><input
                            style="display:none;" type="radio" name="q18" id="q18_1" value="1"><label for="q18_1">A、个人安全意识薄弱,给盗贼可乘之机</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q18_2"></a><input
                            style="display:none;" type="radio" name="q18" id="q18_2" value="2"><label for="q18_2">B、宿管员安全管理不到位</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q18_3"></a><input
                            style="display:none;" type="radio" name="q18" id="q18_3" value="3"><label for="q18_3">C、宿舍建筑易于攀爬,缺少安全防范措施</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q18_4"></a><input
                            style="display:none;" type="radio" name="q18" id="q18_4" value="4"><label
                            for="q18_4">D、其他:</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div19">
            <div class="div_title_question_all">
                <div id="divTitle19" class="div_title_question">14、对于宿舍安装门禁装置，你认为如何<span class="req">&nbsp;*</span>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion19">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q19_1"></a><input
                            style="display:none;" type="radio" name="q19" id="q19_1" value="1"><label for="q19_1">A、有利于宿舍安全</label>
                    </li>
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q19_2"></a><input
                            style="display:none;" type="radio" name="q19" id="q19_2" value="2"><label for="q19_2">B、不方便出入</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q19_3"></a><input
                            style="display:none;" type="radio" name="q19" id="q19_3" value="3"><label for="q19_3">C、没有起到实质性意义</label>
                    </li>
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q19_4"></a><input
                            style="display:none;" type="radio" name="q19" id="q19_4" value="4"><label
                            for="q19_4">D、其他：</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div20">
            <div class="div_title_question_all">
                <div id="divTitle20" class="div_title_question">15、您所在院系的辅导员和班主任到您宿舍的频率是每(
                    )一次。教育部于2004年明文规定,各高校要落实辅导员进寝室制度。您如何看待这一制度( )<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion20">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q20"
                          name="q20"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div21">
            <div class="div_title_question_all">
                <div id="divTitle21" class="div_title_question">16、您认为宿舍的安全保障措施如何<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion21">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q21_1"></a><input
                            style="display:none;" type="radio" name="q21" id="q21_1" value="1"><label for="q21_1">A、设施齐备,人员到位</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q21_2"></a><input
                            style="display:none;" type="radio" name="q21" id="q21_2" value="2"><label for="q21_2">B、能保障基本的人身财产安全</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q21_3"></a><input
                            style="display:none;" type="radio" name="q21" id="q21_3" value="3"><label for="q21_3">C、非常不完善,需要很大的改进和提高</label>
                    </li>
                    <li style="width:99%;"><a href="javascript:" class="jqRadio" rel="q21_4"></a><input
                            style="display:none;" type="radio" name="q21" id="q21_4" value="4"><label for="q21_4">D、以前没有关注</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div22">
            <div class="div_title_question_all">
                <div id="divTitle22" class="div_title_question">17、您认为宿舍的学习氛围、学习环境对自己的学习成绩有无影响<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion22">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q22_1"></a><input
                            style="display:none;" type="radio" name="q22" id="q22_1" value="1"><label
                            for="q22_1">A、有</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q22_2"></a><input
                            style="display:none;" type="radio" name="q22" id="q22_2" value="2"><label
                            for="q22_2">B、没有</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q22_3"></a><input
                            style="display:none;" type="radio" name="q22" id="q22_3" value="3"><label
                            for="q22_3">C、无所谓</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div23">
            <div class="div_title_question_all">
                <div id="divTitle23" class="div_title_question">18、您认为宿舍管理的关键在于<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion23">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q23_1"></a><input
                            style="display:none;" type="radio" name="q23" id="q23_1" value="1"><label for="q23_1">A、学校重视，加大硬件投入</label>
                    </li>
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q23_2"></a><input
                            style="display:none;" type="radio" name="q23" id="q23_2" value="2"><label for="q23_2">B、管理人员转变管理理念，更好的为学生服务</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q23_3"></a><input
                            style="display:none;" type="radio" name="q23" id="q23_3" value="3"><label for="q23_3">C、学生自觉进行管理，同寝室的人共同制定明确舍规，共同遵守</label>
                    </li>
                    <li style="width:49%;"><a href="javascript:" class="jqRadio" rel="q23_4"></a><input
                            style="display:none;" type="radio" name="q23" id="q23_4" value="4"><label for="q23_4"
                                                                                                      style="display: inline-block;">D、其他：</label>
                        <input class="underline" type="text"
                               style="max-width: 500px; color: rgb(153, 153, 153); position: static;" req="true"
                               value="" rel="q23_4" onpropertychange="lengthChange(this);"
                               oninput="lengthChange(this);"> <span style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div24">
            <div class="div_title_question_all">
                <div id="divTitle24" class="div_title_question">19、您认为，让学生或年轻化的宿舍管理人员参与宿舍管理如何：<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion24">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q24_1"></a><input
                            style="display:none;" type="radio" name="q24" id="q24_1" value="1"><label
                            for="q24_1">A、很有必要</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q24_2"></a><input
                            style="display:none;" type="radio" name="q24" id="q24_2" value="2"><label
                            for="q24_2">B、必要</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q24_3"></a><input
                            style="display:none;" type="radio" name="q24" id="q24_3" value="3"><label
                            for="q24_3">C、无所谓</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q24_4"></a><input
                            style="display:none;" type="radio" name="q24" id="q24_4" value="4"><label
                            for="q24_4">D、没必要</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div25">
            <div class="div_title_question_all">
                <div id="divTitle25" class="div_title_question">20、您认为宿舍管理人员的性别对宿舍管理有没有影响<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion25">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q25_1"></a><input
                            style="display:none;" type="radio" name="q25" id="q25_1" value="1"><label
                            for="q25_1">A、有</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q25_2"></a><input
                            style="display:none;" type="radio" name="q25" id="q25_2" value="2"><label
                            for="q25_2">B、没有</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q25_3"></a><input
                            style="display:none;" type="radio" name="q25" id="q25_3" value="3"><label
                            for="q25_3">C、无所谓</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div26">
            <div class="div_title_question_all">
                <div id="divTitle26" class="div_title_question">21、您是否希望对宿舍进行个性化装饰<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion26">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q26_1"></a><input
                            style="display:none;" type="radio" name="q26" id="q26_1" value="1"><label
                            for="q26_1">A、希望</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q26_2"></a><input
                            style="display:none;" type="radio" name="q26" id="q26_2" value="2"><label
                            for="q26_2">B、不希望</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqRadio" rel="q26_3"></a><input
                            style="display:none;" type="radio" name="q26" id="q26_3" value="3"><label
                            for="q26_3">C、无所谓</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div27">
            <div class="div_title_question_all">
                <div id="divTitle27" class="div_title_question">22、您认为宿舍管理人员每天进行卫生检查有无必要，为什么？<span
                        class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion27">
                <div class="div_table_clear_top"></div>
                <textarea title="" style="overflow: auto;width:62%;height:22px;" class="inputtext" value="" id="q27"
                          name="q27"></textarea>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div28">
            <div class="div_title_question_all">
                <div id="divTitle28" class="div_title_question">23、您希望宿舍可以使用哪些电器<span class="req">&nbsp;*</span><span
                        class="qtypetip">&nbsp;[多选题]</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion28">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_1"></a><input
                            style="display:none;" id="q28_1" type="checkbox" name="q28" value="1"><label>A、电脑</label>
                    </li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_2"></a><input
                            style="display:none;" id="q28_2" type="checkbox" name="q28" value="2"><label>B、电视</label>
                    </li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_3"></a><input
                            style="display:none;" id="q28_3" type="checkbox" name="q28" value="3"><label>C、洗衣机</label>
                    </li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_4"></a><input
                            style="display:none;" id="q28_4" type="checkbox" name="q28" value="4"><label>D、电冰箱</label>
                    </li>
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_5"></a><input
                            style="display:none;" id="q28_5" type="checkbox" name="q28" value="5"><label>E、微波炉</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:19%;"><a href="javascript:" class="jqCheckbox" rel="q28_6"></a><input
                            style="display:none;" id="q28_6" type="checkbox" name="q28" value="6"><label
                            style="display: inline-block;">F、其他：</label> <input class="underline" type="text"
                                                                                style="max-width: 500px; color: rgb(153, 153, 153); position: static;"
                                                                                req="true" value="" rel="q28_6"
                                                                                onpropertychange="lengthChange(this);"
                                                                                oninput="lengthChange(this);"> <span
                            style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div29">
            <div class="div_title_question_all">
                <div id="divTitle29" class="div_title_question">24、您所在宿舍楼是否存在一下现象：<span class="req">&nbsp;*</span><span
                        class="qtypetip">&nbsp;[多选题]</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion29">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_1"></a><input
                            style="display:none;" id="q29_1" type="checkbox" name="q29" value="1"><label>A、与宿管人员缺乏沟通或沟通不佳</label>
                    </li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_2"></a><input
                            style="display:none;" id="q29_2" type="checkbox" name="q29"
                            value="2"><label>B、水房垃圾桶经常堆满垃圾</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_3"></a><input
                            style="display:none;" id="q29_3" type="checkbox" name="q29" value="3"><label>C、基础设施的损坏没有得到及时修理(如水龙头、水管、走廊、水房的灯泡等)</label>
                    </li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_4"></a><input
                            style="display:none;" id="q29_4" type="checkbox" name="q29"
                            value="4"><label>D、未经通知，断水断电</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_5"></a><input
                            style="display:none;" id="q29_5" type="checkbox" name="q29"
                            value="5"><label>E、宿舍楼内经常有人喧哗</label></li>
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_6"></a><input
                            style="display:none;" id="q29_6" type="checkbox" name="q29"
                            value="6"><label>F、公共卫生间的打扫不及时</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <li style="width:32.333%;"><a href="javascript:" class="jqCheckbox" rel="q29_7"></a><input
                            style="display:none;" id="q29_7" type="checkbox" name="q29" value="7"><label
                            style="display: inline-block;">G 、其他：</label> <input class="underline" type="text"
                                                                                 style="max-width: 500px; color: rgb(153, 153, 153); position: static;"
                                                                                 req="true" value="" rel="q29_7"
                                                                                 onpropertychange="lengthChange(this);"
                                                                                 oninput="lengthChange(this);"> <span
                            style="color: red;"> *</span></li>
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
        <div class="div_question" id="div30">
            <div class="div_title_question_all">
                <div id="divTitle30" class="div_title_question">25、您认为宿舍住几人比较合适：<span class="req">&nbsp;*</span></div>
                <div style="clear:both;"></div>
            </div>
            <div class="div_table_radio_question" id="divquestion30">
                <div class="div_table_clear_top"></div>
                <ul class="ulradiocheck">
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q30_1"></a><input
                            style="display:none;" type="radio" name="q30" id="q30_1" value="1"><label
                            for="q30_1">A、4</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q30_2"></a><input
                            style="display:none;" type="radio" name="q30" id="q30_2" value="2"><label
                            for="q30_2">B、6</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q30_3"></a><input
                            style="display:none;" type="radio" name="q30" id="q30_3" value="3"><label
                            for="q30_3">C、8</label></li>
                    <li style="width:24%;"><a href="javascript:" class="jqRadio" rel="q30_4"></a><input
                            style="display:none;" type="radio" name="q30" id="q30_4" value="4"><label
                            for="q30_4">D、其他：</label></li>
                    <div style="clear:both;"></div>
                </ul>
                <ul class="ulradiocheck">
                    <div style="clear:both;"></div>
                </ul>
                <div style="clear:both;"></div>
                <div class="div_table_clear_bottom"></div>
            </div>
            <div class="errorMessage"></div>
        </div>
    </fieldset>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<script src="../../plugins/layui/layui.js"></script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form,
            layer = layui.layer,
            layedit = layui.layedit,
            laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function (value) {
                if (value.length < 5) {
                    return '标题至少得5个字符啊';
                }
            },
            pass: [/(.+){6,12}$/, '密码必须6到12位'],
            content: function (value) {
                layedit.sync(editIndex);
            }
        });


    });
</script>

</body>

</html>