<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zut.dao.persistence.BusinessRolesMapper">

    <resultMap id="BaseResultMap" type="cn.zut.dao.entity.BusinessRolesEntity">
        <result column="ROLES_ID" property="rolesId"/>
        <result column="ROLES_NAME" property="rolesName"/>
        <result column="ROLES_DESC" property="rolesDesc"/>
    </resultMap>

    <sql id="tableName">business_roles</sql>

    <sql id="Base_Column_List">
      ROLES_ID,
      ROLES_NAME,
      ROLES_DESC
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        WHERE ROLES_ID = #{id}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        WHERE ROLES_NAME = #{search.rolesName}
    </select>

    <select id="selectListByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
    </select>

    <delete id="deleteById">
        DELETE
        FROM
        <include refid="tableName"/>
        WHERE ROLES_ID = #{id}
    </delete>

    <insert id="insert">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="Base_Column_List"/>
        )
        VALUES
        (
        #{rolesId},
        #{rolesName},
        #{rolesDesc}
        )
    </insert>

    <insert id="batchInsert">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="Base_Column_List"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (
            #{item.rolesId},
            #{item.rolesName},
            #{item.rolesDesc}
            )
        </foreach>
    </insert>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="rolesName != null">
                ROLES_NAME = #{rolesName},
            </if>
            <if test="rolesDesc != null">
                ROLES_DESC = #{rolesDesc},
            </if>
        </set>
        WHERE ROLES_ID = #{rolesId}
    </update>

</mapper>