<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zut.dao.persistence.CarSetMapper">

    <resultMap id="BaseResultMap" type="cn.zut.dao.entity.CarSetEntity">
        <id column="id" property="id"/>
        <result column="comedate" property="comedate"/>
        <result column="leavedate" property="leavedate"/>
        <result column="cartype" property="cartype"/>
        <result column="carnumber" property="carnumber"/>
        <result column="rent" property="rent"/>
    </resultMap>

    <sql id="tableName">business_car_set</sql>

    <sql id="Base_Column_List">
        id,
        comedate,
        leavedate,
        cartype,
        carnumber,
        rent
    </sql>

    <sql id="condition">
        <if test="search != null">
            <where>
                <if test="search.comedate != null">AND comedate = #{search.comedate}</if>
                <if test="search.leavedate != null">AND leavedate = #{search.leavedate}</if>
                <if test="search.cartype != null">AND cartype = #{search.cartype}</if>
                <if test="search.carnumber != null">AND carnumber = #{search.carnumber}</if>
                <if test="search.rent != null">AND rent = #{search.rent}</if>
            </where>
        </if>
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        where id = #{id}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT 1
    </select>

    <select id="selectListByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectCountByExample">
        select count(*) from
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectListPageByExample" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{rows}
    </select>

    <delete id="deleteById">
        delete from
        <include refid="tableName"/>
        where id = #{id}
    </delete>

    <insert id="insert">
        insert into
        <include refid="tableName"/>
        <include refid="Base_Column_List"/>
        values
        (
        #{id},
        #{comedate},
        #{leavedate},
        #{cartype},
        #{carnumber},
        #{rent}
        )
    </insert>

    <update id="update">
        update
        <include refid="tableName"/>
        <set>
            <if test="comedate != null">
                comedate = #{comedate},
            </if>
            <if test="leavedate != null">
                leavedate = #{leavedate},
            </if>
            <if test="cartype != null">
                cartype = #{cartype,},
            </if>
            <if test="carnumber != null">
                carnumber = #{carnumber,},
            </if>
            <if test="rent != null">
                rent = #{rent},
            </if>
        </set>
        where id = #{id}
    </update>

</mapper>