<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zut.dao.persistence.ManageLogMapper">

    <resultMap id="BaseResultMap" type="cn.zut.dao.entity.ManageLogEntity">
        <result column="ID" property="id"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="NAME" property="name"/>
        <result column="OPERATE" property="operate"/>
        <result column="OPERATE_TIME" property="operateTime"/>
    </resultMap>

    <sql id="tableName">manage_log</sql>

    <sql id="columns">
        ID,
        MEMBER_ID,
        NAME,
        OPERATE,
        OPERATE_TIME
    </sql>

    <sql id="condition">
        <if test="search != null">
            <where>
                <if test="search.memberId != null">AND MEMBER_ID = #{search.memberId}</if>
                <if test="search.operate != null">AND OPERATE = #{search.operate}</if>
            </where>
        </if>
    </sql>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE ID = #{id}
    </select>

    <select id="selectByExample" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT 1
    </select>

    <select id="selectListPageByExample" resultMap="BaseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{rows}
    </select>

    <select id="selectCountByExample" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{id},
        #{memberId},
        #{name},
        #{operate},
        #{operateTime}
        )
    </insert>

</mapper>