<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zut.dao.persistence.TariffBillPlanMapper">

    <resultMap id="baseResultMap" type="cn.zut.dao.entity.TariffBillPlanEntity">
        <result column="PLAN_NO" property="planNo"/>
        <result column="BILL_NO" property="billNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="BILL_STATUS" property="billStatus"/>
        <result column="REPAY_DATE" property="repayDate"/>
        <result column="SETTLE_DATE" property="settleDate"/>
        <result column="OVERDUE_DAYS" property="overdueDays"/>
        <result column="BILL_AMOUNT" property="billAmount"/>
        <result column="LATE_CHARGE_AMT" property="lateChargeAmt"/>
        <result column="BILL_AMOUNT_PAID" property="billAmountPaid"/>
        <result column="LATE_CHARGE_AMT_PAID" property="lateChargeAmtPaid"/>
        <result column="BILL_AMOUNT_OFFER" property="billAmountOffer"/>
        <result column="LATE_CHARGE_AMT_OFFER" property="lateChargeAmtOffer"/>
        <result column="EXPAND" property="expand"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="tableName">tariff_bill_plan</sql>

    <sql id="columns">
        PLAN_NO,
        BILL_NO,
        MEMBER_ID,
        BILL_STATUS,
        REPAY_DATE,
        SETTLE_DATE,
        OVERDUE_DAYS,
        BILL_AMOUNT,
        LATE_CHARGE_AMT,
        BILL_AMOUNT_PAID,
        LATE_CHARGE_AMT_PAID,
        BILL_AMOUNT_OFFER,
        LATE_CHARGE_AMT_OFFER,
        EXPAND,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <sql id="condition">
        <if test="search != null">
            <where>
                <if test="search.memberId != null">AND MEMBER_ID = #{search.memberId}</if>
                <if test="search.billStatus != null">AND BILL_STATUS = #{search.billStatus}</if>
                <if test="search.repayDate != null">AND REPAY_DATE = #{search.repayDate}</if>
                <if test="search.overdueDays != null">AND OVERDUE_DAYS = #{search.overdueDays}</if>
                <if test="search.billNo != null">AND BILL_NO = #{search.billNo}</if>
            </where>
        </if>
    </sql>

    <select id="selectById" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE PLAN_NO = #{planNo}
    </select>

    <select id="selectByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectListByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectListPageByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{rows}
    </select>

    <select id="selectCountByExample" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="billStatus != null">
                BILL_STATUS = #{billStatus},
            </if>
            <if test="settleDate != null">
                SETTLE_DATE = #{settleDate},
            </if>
            <if test="overdueDays != null">
                OVERDUE_DAYS = #{overdueDays},
            </if>
            <if test="lateChargeAmt != null">
                LATE_CHARGE_AMT = #{lateChargeAmt},
            </if>
            <if test="billAmountPaid != null">
                BILL_AMOUNT_PAID = #{billAmountPaid},
            </if>
            <if test="lateChargeAmtPaid != null">
                LATE_CHARGE_AMT_PAID = #{lateChargeAmtPaid},
            </if>
            <if test="billAmountOffer != null">
                BILL_AMOUNT_OFFER = #{billAmountOffer},
            </if>
            <if test="lateChargeAmtOffer != null">
                LATE_CHARGE_AMT_OFFER = #{lateChargeAmtOffer},
            </if>
            <if test="expand != null">
                EXPAND = #{expand},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
        </set>
        WHERE PLAN_NO = #{planNo}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="planNo">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{planNo},
        #{billNo},
        #{memberId},
        #{billStatus},
        #{repayDate},
        #{settleDate},
        #{overdueDays},
        #{billAmount},
        #{lateChargeAmt},
        #{billAmountPaid},
        #{lateChargeAmtPaid},
        #{billAmountOffer},
        #{lateChargeAmtOffer},
        #{expand},
        #{createTime},
        #{updateTime}
        )
    </insert>

    <insert id="batchInsert">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        <foreach collection="list" item="item" separator="," index="index">
            (
            #{item.planNo},
            #{item.billNo},
            #{item.memberId},
            #{item.billStatus},
            #{item.repayDate},
            #{item.settleDate},
            #{item.overdueDays},
            #{item.billAmount},
            #{item.lateChargeAmt},
            #{item.billAmountPaid},
            #{item.lateChargeAmtPaid},
            #{item.billAmountOffer},
            #{item.lateChargeAmtOffer},
            #{item.expand},
            #{item.createTime},
            #{item.updateTime}
            )
        </foreach>
    </insert>

    <update id="batchUpdate">
        <foreach collection="list" item="item" separator=";">
            UPDATE
            <include refid="tableName"/>
            <set>
                <if test="item.billStatus != null">
                    BILL_STATUS = #{item.billStatus},
                </if>
                <if test="item.overdueDays != null">
                    OVERDUE_DAYS = #{item.overdueDays},
                </if>
                <if test="item.lateChargeAmt != null">
                    LATE_CHARGE_AMT = #{item.lateChargeAmt},
                </if>
                <if test="item.updateTime != null">
                    UPDATE_TIME = #{item.updateTime},
                </if>
            </set>
            WHERE PLAN_NO = #{item.planNo}
        </foreach>
    </update>

</mapper>