<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zut.dao.persistence.TariffBillPlanMapper">

    <resultMap id="baseResultMap" type="cn.zut.dao.entity.TariffBillPlanEntity">
        <result column="PLAN_NO" property="planNo"/>
        <result column="BILL_NO" property="billNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="PAYMENT_STATUS" property="paymentStatus"/>
        <result column="REPAY_DATE" property="repayDate"/>
        <result column="SETTLE_DATE" property="settleDate"/>
        <result column="OVERDUE_DAYS" property="overdueDays"/>
        <result column="BILL_AMOUNT" property="billAmount"/>
        <result column="LATE_CHARGE_AMT" property="lateChargeAmt"/>
        <result column="BILL_AMOUNT_PAID" property="billAmountPaid"/>
        <result column="LATE_CHARGE_AMT_PAID" property="lateChargeAmtPaid"/>
        <result column="BILL_AMOUNT_OFFER" property="billAmountOffer"/>
        <result column="LATE_CHARGE_AMT_OFFER" property="lateChargeAmtOffer"/>
        <result column="EXPAND" property="expand"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="tableName">tariff_bill_plan</sql>

    <sql id="columns">
        PLAN_NO,
        BILL_NO,
        MEMBER_ID,
        PAYMENT_STATUS,
        REPAY_DATE,
        SETTLE_DATE,
        OVERDUE_DAYS,
        BILL_AMOUNT,
        LATE_CHARGE_AMT,
        BILL_AMOUNT_PAID,
        LATE_CHARGE_AMT_PAID,
        BILL_AMOUNT_OFFER,
        LATE_CHARGE_AMT_OFFER,
        EXPAND,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <sql id="condition">
        <if test="search != null">
            <where>
                <if test="search.id != null">AND ID = #{search.id}</if>
            </where>
        </if>
    </sql>

    <select id="selectById" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="selectByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectListPageByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{rows}
    </select>

    <select id="selectCountByExample" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="phoneNo != null">
                PHONE_NO = #{phoneNo},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
        </set>
        WHERE MEMBER_ID = #{memberId}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="memberId">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{planNo},
        #{billNo},
        #{memberId},
        #{paymentStatus},
        #{repayDate},
        #{settleDate},
        #{overdueDays},
        #{billAmount},
        #{lateChargeAmt},
        #{billAmountPaid},
        #{lateChargeAmtPaid},
        #{billAmountOffer},
        #{lateChargeAmtOffer},
        #{expand},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>