<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zut.dao.persistence.TariffConsumeMapper">

    <resultMap id="baseResultMap" type="cn.zut.dao.entity.TariffConsumeEntity">
        <result column="CONSUME_NO" property="consumeNo"/>
        <result column="MEMBER_ID" property="memberId"/>
        <result column="OPERATOR" property="operator"/>
        <result column="BUSINESS" property="business"/>
        <result column="LEVEL" property="level"/>
        <result column="STANDARD_ID" property="standardId"/>
        <result column="UNIT_PRICE" property="unitPrice"/>
        <result column="USED_TOTAL" property="usedTotal"/>
        <result column="CONSUME_AMOUNT" property="consumeAmount"/>
        <result column="CONSUME_EXPAND" property="consumeExpand"/>
        <result column="PAYMENT_STATUS" property="paymentStatus"/>
        <result column="EXPAND" property="expand"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
    </resultMap>

    <sql id="tableName">tariff_consume</sql>

    <sql id="columns">
        CONSUME_NO,
        MEMBER_ID,
        OPERATOR,
        BUSINESS,
        LEVEL,
        STANDARD_ID,
        UNIT_PRICE,
        USED_TOTAL,
        CONSUME_AMOUNT,
        CONSUME_EXPAND,
        PAYMENT_STATUS,
        EXPAND,
        CREATE_TIME,
        UPDATE_TIME
    </sql>

    <sql id="condition">
        <if test="search != null">
            <where>
                <if test="search.memberId != null">AND MEMBER_ID = #{search.memberId}</if>
                <if test="search.operator != null">AND OPERATOR = #{search.operator}</if>
                <if test="search.business != null">AND BUSINESS = #{search.business}</if>
                <if test="search.level != null">AND LEVEL = #{search.level}</if>
                <if test="search.standardId != null">AND STANDARD_ID = #{search.standardId}</if>
                <if test="search.consumeExpand != null">AND CONSUME_EXPAND = #{search.consumeExpand}</if>
                <if test="search.paymentStatus != null">AND PAYMENT_STATUS = #{search.paymentStatus}</if>
            </where>
        </if>
    </sql>

    <select id="selectById" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        WHERE CONSUME_NO = #{consumeNo}
    </select>

    <select id="selectByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="selectListPageByExample" resultMap="baseResultMap">
        SELECT
        <include refid="columns"/>
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
        LIMIT #{firstIndex}, #{rows}
    </select>

    <select id="selectCountByExample" resultType="java.lang.Integer">
        SELECT COUNT(0)
        FROM
        <include refid="tableName"/>
        <include refid="condition"/>
    </select>

    <select id="totalAmountByMonth" resultMap="baseResultMap">
        SELECT
        BUSINESS,
        SUM(CONSUME_AMOUNT) CONSUME_AMOUNT
        FROM
        <include refid="tableName"/>
        WHERE
        PAYMENT_STATUS = 'PAY_SUCCESS'
        AND CREATE_TIME REGEXP #{month}
        GROUP BY
        BUSINESS
    </select>

    <update id="update">
        UPDATE
        <include refid="tableName"/>
        <set>
            <if test="operator != null">
                OPERATOR = #{operator},
            </if>
            <if test="consumeAmount != null">
                CONSUME_AMOUNT = #{consumeAmount},
            </if>
            <if test="consumeExpand != null">
                CONSUME_EXPAND = #{consumeExpand},
            </if>
            <if test="paymentStatus != null">
                PAYMENT_STATUS = #{paymentStatus},
            </if>
            <if test="expand != null">
                EXPAND = #{expand},
            </if>
            <if test="updateTime != null">
                UPDATE_TIME = #{updateTime},
            </if>
        </set>
        WHERE CONSUME_NO = #{consumeNo}
    </update>

    <insert id="insert" useGeneratedKeys="true" keyProperty="consumeNo">
        INSERT INTO
        <include refid="tableName"/>
        (
        <include refid="columns"/>
        )
        VALUES
        (
        #{consumeNo},
        #{memberId},
        #{operator},
        #{business},
        #{level},
        #{standardId},
        #{unitPrice},
        #{usedTotal},
        #{consumeAmount},
        #{consumeExpand},
        #{paymentStatus},
        #{expand},
        #{createTime},
        #{updateTime}
        )
    </insert>

</mapper>